<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="content-type"
      content="text/html; charset=UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="container">
    <header>
        <h1><%= head1 %></h1>
        <h2><%- head2 %></h2>
    </header>
    <div role="main">
        <table class="table" table-layout: fixed; overflow-wrap : break-word; word-wrap: break-word;>
            <tr>
                <th>製品名</th>
                <td>製造社・販売社</td>
                <td></td>
                <td></td>
            </tr>
            <% for(var i in content) { %>
            <tr>
                <% var obj = content[i]; %>
                <td><%= obj.name %></td>
                <td><%= obj.manufac %></td>
                <td><a href="/review/list_from_target?tgid=<%= obj.id %>">
                  <%= obj.Reviews.length %>件のレビューを確認
                </a></td>
                <td><a href="/review/add_from_target?tgid=<%= obj.id %>">この製品にレビューを追加</a></td>
            </tr>
            <% } %>
        </table>
    </div>
    <div>
    <form action="/target/search" method="post">
        <label>検索したい製品名を入力してください。</label>
        <input required type="text" name="name" value="<%= form_default.name %>" class="form-control"/>
        <br>
        <input type="submit" value="検索"/>
    </form>
    </div>
    <p class="mt-4"><a href="/review/user_list">あなたのレビュー</a></p>
    <p class="mt-4"><a href="/review/list">全てのレビュー</a></p>  
    <p class="mt-4"><a href="/usertop">ユーザのトップ画面</a></p>
    <p class="mt-4"><a href="/signout">ログアウト</a></p>
  </body>
</html>
