<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="content-type"
      content="text/html; charset=UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="container">
    <header>
        <h1><%= head1 %></h1>
        <h2><%- head2 %></h2>
    </header>
  
      <div>
      <form action="/review/add_from_target?tgid=<%= tgid %>" method="post">
          <label>星(半角数字)</label>
          <input required type="integer" name="star" value="<%= form_default.star %>" class="form-control"/>
          <br>
          <label>コメント</label>
          <input required type="text" name="comment" value="<%= form_default.comment %>" class="form-control"/>
          <br>
          <label>購入日</label>
          <input required type="date" name="purchasedate" value="<%= form_default.purchasedate %>" class="form-control"/>
          <br>
          <input type="submit" value="Submit review."/>
      </form>
      </div>
      <p class="mt-4"><a href="/review/user_list">Your reviews</a></p>
      <p class="mt-4"><a href="/review/list">All reviews</a></p>  
      <p class="mt-4"><a href="/usertop">User top</a></p>
      <p class="mt-4"><a href="/signout">Sign out</a></p>
  </body>
</html>
